/* COMMON */
body {
  font-family: 'Noto Serif KR', serif;
}

.pc {
  display: none !important;
}

.mobile {
  display: block !important;
}

br.only-pc {
  content: '';
}

#wrapper {
  min-width: 320px;
  max-width: 850px;
  margin: 0 auto;
  overflow: hidden;
}

.inner {
  margin: 0 auto;
  position: relative;
}

section .inner {
  padding: 60px 24px;
}

h3 {
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}

body.main p:not(.main-visual p) {
  margin: 20px 0;
  color: #888;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.8em;
  text-align: center;
}

.btn.btn--brown {
  display: block;
  width: 200px;
  padding: 0 10px;
  margin: 0 auto;
  font-size: 13px;
  line-height: 40px;
  color: #bf8365;
  border: 1px solid #bf8365;
  transition: .3s;
}

.btn.btn--brown:hover {
  background-color: #bf8365;
  color: #fff;
}

.caption {
  position: relative;
  width: 100%;
  padding: 10px 0 0 10px;
  margin-left: 10px;
  border-left: 1px solid #bf8365;
  text-align: left;
  font-size: 14px;
  color: #222;
  transition: .3s;
}

.caption::before {
  content: '';
  position: absolute;
  left: -1px;
  top: -20px;
  width: 1px;
  height: calc(100% + 20px);
  background-color: #bf8365;
}

.contact-btn {
  position: fixed;
  right: 5%;
  bottom: 5%;
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 30%);
  z-index: 9;
  animation: rotate-image 30s linear infinite;
}

@keyframes rotate-image {
  100% {
    transform: rotate(360deg);
  }
}


/* HEADER */
#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9;
  font-size: 16px;
  color: #222;
  background-color: transparent;
  transition: .3s;
}

#header.scrolled {
  background-color: #fff;
  border-bottom: 0.5px solid #ddd;
}

#header .inner {
  height: 60px;
}

#header h1 {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
}

#header h1 a {
  display: block;
  width: 192px;
}

#header .toggle-btn {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

#header .toggle-btn > div {
  width: 30px;
  height: 2px;
  margin: 6px 0;
  background-color: #222;
}

#gnb {
  display: none;
}

#gnb > ul {}

#gnb > ul > li {} 

#gnb > ul > li > a {} 

#gnb > ul > li > .sub-menu {} 

#gnb > ul > li > .sub-menu li {} 

#gnb > ul > li > .sub-menu li a {} 

#header .header__menu {
  display: none;
}

/* MAIN */
.main-visual {
  position: relative;
}
.main-visual .swiper {
  width: 100%;
  height: 100vh;
}

.main-visual .swiper .swiper-slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-visual .swiper .swiper-slide.slide1 {
  background-image: url("../img/visual_1_m.jpg");
}
.main-visual .swiper .swiper-slide.slide2 {
  background-image: url("../img/visual_2_m.jpg");
}
.main-visual .swiper .swiper-slide.slide3 {
  background-image: url("../img/visual_3_m.jpg");
}
.main-visual .swiper .swiper-slide.slide4 {
  background-image: url("../img/visual_4_m.jpg");
}

.main-visual .swiper .swiper-slide .text-group {
  position: absolute;
  left: 24px;
  top: 40%;
  color: #000;
}

.main-visual .swiper .swiper-slide .text-group .title {
  font-size: 34px;
  line-height: 1.6em;
}

.main-visual .swiper .swiper-slide .text-group .description {
  font-size: 18px;
  line-height: 1.6em;
}

.main-visual .swiper .swiper-slide-active .text-group .title {
  animation: up-to .7s;
}

.main-visual .swiper .swiper-slide-active .text-group .description {
  animation: up-to .7s .2s;
}

@keyframes up-to {
  0% {
    transform: translateY(150px);
  }

  100% {
    transform: translateY(0); 
  }
}

.main-visual .swiper .swiper-pagination {
  left: 24px;
  bottom: 40px;
  width: 300px;
  text-align: left;
}

.main-visual .swiper .swiper-pagination-bullet {
  background-color: transparent;
  opacity: 1;
}

.main-visual .swiper .swiper-pagination-bullet {
  width: 30px;
  height: 30px;
  margin: 0 4px;
  border-radius: 50%;
  border: 1px solid transparent;
}

.main-visual .swiper .swiper-pagination-bullet a {
  display: block;
  text-align: center;
  line-height: 30px;
  transition: .2s;
}

.main-visual .swiper .swiper-pagination-bullet a:hover {
  color: #bf8365;
}

.main-visual .swiper .swiper-pagination-bullet-active {
  border-color: #bf8365;
  color: #bf8365;
}

/* PLANNER */
.main-planner {
  background-color: #fff;
}

.main-planner .inner {
  overflow: hidden;
  box-sizing: border-box;
}

.main-planner .left {
  height: 30vh;
}

.main-planner .left .planner__logo {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../img/planner_logo.png") no-repeat center/auto 170px;
}

.main-planner .left h3 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-planner .right .title {
  font-size: 16px;
  letter-spacing: 1px;
}

.main-planner .right .description {
  margin: 5px 0 20px;
  text-align: left;
  font-size: 17px;
}

/* CELEBRITY */
.main-celebrity {
  padding: 60px 24px 30px;
  background-color: #f7f5ef;
}

.main-celebrity .inner {
  padding: 0;
}

.main-celebrity .btn {
  margin-bottom: 50px;
}

.main-celebrity .swiper {
  padding-bottom: 50px;
}

.main-celebrity .swiper .swiper-slide {
  cursor: pointer;
} 

.main-celebrity .swiper .swiper-slide:hover .caption {
  color: #bf8365;
}

.main-celebrity .swiper .swiper-slide .caption::before {
  content: '';
  position: absolute;
  left: -1px;
  top: -20px;
  width: 1px;
  height: calc(100% + 20px);
  background-color: #bf8365;
}

.main-celebrity .swiper .swiper-pagination-bullet {
  margin: 0 7px;
}

.main-celebrity .swiper .swiper-pagination-bullet-active {
  background-color: #bf8365;
  opacity: 0.75;
}

/* STYLING */
.main-styling {
  background-color: #fff;
}

.main-styling .left {
  margin-top: 40px;
}  

.main-styling .left .row > div {
  display: inline-block;
  width: 48%;
  margin: 0;
  cursor: pointer;
}

.main-styling .left .row > div:hover .view-more {
  opacity: 0.85;
}

.main-styling .left .row > div:hover .caption {
  color: #bf8365;
}

.main-styling .left .row + .row {
  margin-top: 70px;
}

.main-styling .left .row > div:nth-child(2n) {
  margin-left: 2%;
}

.main-styling .left .image {
  position: relative;
}

.main-styling .left .view-more {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #bf8365;
  opacity: 0;
  transition: .3s;
}

.main-styling .left .view-more span {
  display: none;
}

.main-styling .left .caption {
  max-width: 130px;
}

.main-styling .left .caption span {
  font-size: 13px;
}

/* PLANNER */
.main-partner .inner .description {
  margin: 10px 0 50px;
}

.main-partner .contents ul li {
  position: relative;
  margin-bottom: 10px;
  color: #888;
  border-bottom: 1px solid transparent;
}

.main-partner .contents ul li a {
  display: block;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.main-partner .contents ul li.selected {
  color: #bf8365;
  border-color: #bf8365;
}

.main-partner .contents ul li .image {
  width: 45%;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

.main-partner .contents ul li.selected .image {
  display: block;
}

.main-partner .contents ul li img {
  width: 100%;
}

/* DETAIL */
.main-detail {
  background-color: #f7f5ef;
  text-align: center;
}

.main-detail .inner {
  padding: 80px 24px;
}

.main-detail .title {
  width: 210px;
  margin: 0 auto;
}

.main-detail .inner .description {
  font-size: 16px;
}

/* FOOTER */
#footer {
  background-color: #fff;
  border-top: 1px solid #ddd;
}

#footer .inner {
  padding: 30px 24px;
}

#footer a {
  display: block;
}

#footer .row:first-child {
  height: 200px;
}

#footer .row + .row {
  margin-top: 95px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

.footer__logo {
  margin-bottom: 30px;
}

.footer__logo > div {
  width: 245px;
}

#footer .info {
  font-size: 14px;
  line-height: 1.9em;
  color: #888;
}

.footer__menu {
  overflow: hidden;
  position: absolute;
  left: 24px;
  top: 210px;
}

.footer__menu li {
  float: left;
  width: 50%;
  margin-bottom: 10px;
}

.footer__menu li:last-child {
  margin-bottom: 0;
}

.footer__menu li a {
  font-size: 16px;
  color: #222;
}

.footer__links li {
  display: inline-block;
}

.footer__links li a {
  width: 32px;
  margin-right: 5px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #222;
  background-color: #fff;
}

.footer__links li a i.fab span {
  position: absolute;
  left: -9999px;
}

.footer__policy {
  margin: 10px 0;
}

.footer__policy li {
  display: inline-block;
}

.footer__policy li a {
  color: #888;
  font-size: 15px;
}

.footer__policy li + li {
  margin-left: 20px;
}


/* 미디어쿼리 */
@media screen and (max-width: 359.9px) {

  /* index.html */
  /* VISUAL */
  .main-visual .swiper .swiper-slide .text-group .title {
    font-size: 28px;
  }

  .main-visual .swiper .swiper-slide .text-group .description {
    font-size: 16px;
  }

  /* PLANNER */
  .main-planner .right .description {
    font-size: 16px;
  }

  /* FOOTER */
  .footer__menu li a {
    font-size: 15px;
  }

  #footer .info {
    font-size: 13px;
  }

  .footer__policy li a {
    font-size: 14px;
  }
}