/* COMMON */
body {
  font-family: 'Noto Serif KR', serif;
  height: 2000px;
}

.mobile {
  display: none !important;
}

.pc {
  display: block !important;
}

br.only-m {
  content: '';
}

#wrapper {
  min-width: 1024px;
  overflow: hidden;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

h3 {
  font-size: 75px;
  font-weight: 400;
}

.description:not(.main-visual .description) {
  color: #888;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.8em;
}

.btn.btn--brown {
  display: inline-block;
  padding: 0 40px;
  font-size: 14px;
  line-height: 46px;
  color: #bf8365;
  background-color: #fff;
  border: 1px solid #bf8365;
  transition: .3s;
}

.btn.btn--brown:hover {
  background-color: #bf8365;
  color: #fff;
}


/* HEADER */
#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9;
  font-size: 16px;
  color: #222;
  background-color: transparent;
}

#header.scrolled {
  background-color: #fff;
  border-bottom: 0.5px solid #ddd;
}

#header .inner {
  height: 90px;
}

#header h1 {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}

#header h1 a {
  display: block;
  width: 232px;
}

#header h1 a img {}

#header .toggle-btn {
  position: absolute;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

#header .toggle-btn > div {
  width: 30px;
  height: 2px;
  margin: 6px 0;
  background-color: #222;
}

#gnb {
  display: none;
}

#gnb > ul {}

#gnb > ul > li {} 

#gnb > ul > li > a {} 

#gnb > ul > li > .sub-menu {} 

#gnb > ul > li > .sub-menu li {} 

#gnb > ul > li > .sub-menu li a {} 

#header .header__menu {
  position: absolute;
  right: 120px;
  top: 50%;
  transform: translateY(-50%);
}

#header .header__menu li {
  display: inline-block;
  letter-spacing: 2px;
}

#header .header__menu li + li {
  margin-left: 25px;
}

#header .header__menu li a {
  display: block;
}


/* MAIN */
.main-visual {
  position: relative;
}
.main-visual .swiper {
  width: 100%;
  height: 100vh;
}

.main-visual .swiper .swiper-slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-visual .swiper .swiper-slide.slide1 {
  background-image: url("../img/visual_1.jpg");
}
.main-visual .swiper .swiper-slide.slide2 {
  background-image: url("../img/visual_2.jpg");
}
.main-visual .swiper .swiper-slide.slide3 {
  background-image: url("../img/visual_3.jpg");
}
.main-visual .swiper .swiper-slide.slide4 {
  background-image: url("../img/visual_4.jpg");
}
.main-visual .swiper .swiper-slide.slide5 {
  background-image: url("../img/visual_5.jpg");
}

.main-visual .swiper .swiper-slide .text-group {
  position: absolute;
  left: 84px;
  top: 35%;
  color: #000;
}

.main-visual .swiper .swiper-slide .text-group .title {
  font-size: 55px;
}

.main-visual .swiper .swiper-slide .text-group .description {
  font-size: 24px;
  line-height: 1.6em;
}

.contact-btn {
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 126px;
  height: 126px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 30%);
  z-index: 9;
  animation: rotate_image 30s linear infinite;
}

@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}


/* PLANNER */
.main-planner {
  background-color: #fff;
}

.main-planner .inner {
  overflow: hidden;
  height: 520px;
  padding: 40px 80px;
  box-sizing: border-box;
}

.main-planner .left,
.main-planner .right {
  width: 50%;
  height: 100%;
}

.main-planner .left {
  float: left;
}

.main-planner .left .planner__logo {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../img/planner_logo.png") no-repeat center/auto 200px;
}

.main-planner .left h3 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-planner .right {
  position: relative;
  float: right;
}

.main-planner .right .content-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.main-planner .right .title {
  font-size: 16px;
  letter-spacing: 1px;
}

.main-planner .right .description {
  font-size: 22px;
  margin: 25px 0 20px;
}

/* CELEBRITY */
.main-celebrity {
  padding: 140px 0px 80px;
  text-align: center;
  background-color: #f7f5ef;
}

.main-celebrity .inner {}

.main-celebrity .title {}

.main-celebrity .description {
  margin: 20px 0 30px;
}

.main-celebrity .btn {
  margin-bottom: 50px;
}

.main-celebrity .swiper {}

.main-celebrity .swiper .swiper-slide {} 

.main-celebrity .swiper .swiper-slide img {} 

.main-celebrity .swiper .swiper-slide .caption {
  position: relative;
  width: 100%;
  padding: 16px 0 0 20px;
  margin-left: 20px;
  border-left: 1px solid #bf8365;
  font-size: 18px;
  color: #222;
}

.main-celebrity .swiper .swiper-slide .caption::before {
  content: '';
  position: absolute;
  left: -1px;
  top: -20px;
  width: 1px;
  height: calc(100% + 20px);
  background-color: #bf8365;
}


